body {
    padding: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#background {
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.jumbotron {
	text-align: center;
}

ul.nav {
    font-family:‘Arvo’,courier,serif;
}

h1 {
    font-family:‘Arvo’,courier,serif;
    font-weight: bold;
    display: inline;
    padding-left: 13px;
    padding-right: 10px;
    background-color: black;
    opacity: .8;
    border-radius: 30px;
    text-align: center;
]}

.navbar-collapse {
    border-top: none
}

#aboutme {
    padding-left: 13px;
    padding-right: 10px;
    background-color: black;
    opacity: .8;
    border-radius: 30px;
    text-align: center;
    margin: 0px 17%;
}

#menucover {
    margin: 5px 0px 5px;
}

footer p {
    margin: 2px 0px 2px;
}

